body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url(bg3.png);
  background-color: blue;
}

header {
  padding: 20px 0;
  color: red;

}

header .row,
footer .row {
  padding-top: 3.5%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

svg {
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  z-index: -1;
}